


:root {
  /* "borrowed" from magister */

  --chrome-background: #fff;
  --primary-background: #1f97f9;
  --secondary-background: #0683ea;
  --background-1: #0099f6;
  --background-2: #fff;
  --background-3: #ccc;
  --background-4: #434343;
  --background-5: #fafafa;
  --background-6: #333;
  --background-7: #f2f2f2;
  --background-8: #ccc;
  --background-9: transparent;
  --background-10: #005c86;
  --background-11: #e1f4fd;
  --background-12: #bee1fd;

  --primary-text-color: #1f97f9;
  --secondary-text-color: #000;
  --tertiary-text-color: #007ecc;
  --quaternary-text-color: #04579a;

  /* added by me */
  --orange: hsl(30,100%,51%);
}

body {
  background-color: var(--background-1);
  color: var(--secondary-text-color);
}

nav {
  background-color: var(--background-6);
  color: var(--background-2);
}


nav {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1360px;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px 32px;
}

label {
  display: block;
}


.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.orange {
  color: darkorange;
}








.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
