/* -------------------- COLORS ---------------------------------------------------------- */

:root {
    /* "borrowed" from magister */

    --chrome-background: #fff;
    --primary-background: #1f97f9;
    --secondary-background: #0683ea;
    --background-1: #0099f6;
    --background-2: #fff;
    --background-3: #ccc;
    --background-4: #434343;
    --background-5: #fafafa;
    --background-6: #333;
    --background-7: #f2f2f2;
    --background-8: #ccc;
    --background-9: transparent;
    --background-10: #005c86;
    --background-11: #e1f4fd;
    --background-12: #bee1fd;

    --primary-text-color: #1f97f9;
    --secondary-text-color: #000;
    --tertiary-text-color: #007ecc;
    --quaternary-text-color: #04579a;

    /* added by me */
    --orange: hsl(30, 100%, 51%);   /* ff8205 */
    --very-light-blue: #e6f3fe;     /* also from magister website */
}

body {
    background-color: var(--background-3);
    color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-text-color);
}

a,
a:visited,
a:active {
    color: var(--primary-text-color);
}

a:hover {
    color: var(--secondary-text-color);
}

article {
    background-color: var(--background-10);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    background-color: var(--background-10);
    color: var(--background-7);
}

tbody {
    color: var(--secondary-text-color);
}

tbody > tr {
    /*background-color: var(--background-3);*/
    color: var(--secondary-text-color);
}

tbody > tr:nth-child(odd) {
    background-color: var(--background-1);
}

tbody > tr:nth-child(even) {
    background-color: var(--background-12);
}

form > section {
    background-color: var(--background-12);
    color: var(--secondary-text-color);
}

form button {
    background-color: var(--background-10);
    color: var(--background-2);
}

form.add-workshop > section,
form.add-student > section,
form.signin > section {
    background-color: var(--background-12);
}

form section.submit-error {
    background-color: var(--orange);
}

button {
    background-color: var(--background-10);
    color: var(--background-2);
}

button[disabled] {
    background-color: var(--background-4);
}

.present {
    color: lightgreen;
}

.absent {
    color: var(--orange);
}

/* -------------------- FONTS ----------------------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Open Sans', 'Roboto', 'Times New Roman', cursive;
}

button {
    font-weight: bold;
}

th {
    text-align: left;
}

form label {
    font-weight: bold;
}

/* -------------------- FLEX ------------------------------------------------------------ */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*max-width: 2360px;*/
    /*margin: auto;*/
    padding-inline: 1.6vw;
    padding-block: 1.6vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 32px;
}

/* -------------------- SPACING & DIMENSIONS ----------------------------------------------- */

h2 {
    margin-top: 1.75rem;
}

table {
    padding: 4px;
    border-radius: 16px 16px 0 0;
    border: 0;
    min-width: 50vw;
    width: auto;
}

th {
    padding: 8px;
}

td {
    padding: 8px;
}

tbody {
    border: 0;
}

td.growing-likes > button {
    width: 13rem;
}

td.presence-wider-btn > button {
    width: 9rem;
}

img.image-preview {
    max-height: 49vh;
}

label {
    display: block;
}

section {
    margin: 0 0 25px 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    border-radius: 4px;
    padding: 2em;
    flex-basis: 27vw;
    background-color: yellow;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: var(--orange);
    outline-width: 10px;
}

form, form > section {
    border-radius: 16px;
}

form > section {
    padding: 25px;
}

form label {
    margin: 4px 0;
}

form input, input,
form select {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

form select,
form textarea {
    width: 100%;
    padding: 8px;
}

form button {
    margin-top: 15px;
}

form.signin,
form.add-student {
    max-width: 400px;
}

form.signin > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

form.add-workshop > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-width: 400px;*/
    width: 100%;
}

form.add-workshop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

form section.submit-error {
    margin: 0;
    padding: 0;
    text-align: center;
}

form label {
    margin: 4px 0;
}

form input, input,
form select {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

form select,
form textarea {
    width: 100%;
    padding: 8px;
}

form button {
    margin-top: 15px;
}

button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
}

button + button {
    margin-left: 8px;
}

/* -------------------- A LITTLE EYE-CANDY ---------------------------------------------- */

button:hover {
    cursor: pointer;
}

button[disabled]:hover {
    cursor: not-allowed;
}

.loading-icon {
    position: relative;
    top: 0.25em;
    left: -0.25em;
    width: 16px;
    height: 16px;
    animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    position: relative;
    top: 0.28em;
    content: '\2022';
    color: var(--orange);
}